* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
  user-select: none;
}

a,
button {
  cursor: pointer;
  color: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Geostar&family=Kumar+One+Outline&family=Orbitron&family=Revalia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');